{
  "DATE": "4/28/2020",
  "VERSION": "1.0",
  "FONT": "Myanmar Text;12",
  "MRU1": "Z:\\Buddhism\\Ashin Sarana\\Test Data\\RV 01-10.txt",
  "MRU2": "S:\\Hintha Consultant Company\\DhammaYaungchi\\NissayaEditor\\NissayaEditor2.0\\NissayaEditor\\bin\\Debug\\net6.0-windows\\Data\\MN-052.txt",
  "MRU3": "Z:\\Buddhism\\Ashin Sarana\\MN Files\\RV 01-10.txt",
  "MRU4": "Z:\\Buddhism\\Ashin Sarana\\MN Files\\RV 01-10-SHN.txt",
  "VIEW": "Tabular",
  "MRU5": "Z:\\Buddhism\\Ashin Sarana\\MN Files\\MN-145.txt"
}